<tr class="Polaris-DataTable__TableRow">
    <th class="Polaris-DataTable__Cell Polaris-DataTable__Cell--fixed" scope="row"><%= ticket.quantity %> &times; Ticket(s) to <%= ticket.flight.destination %></th>
    <td class="Polaris-DataTable__Cell Polaris-DataTable__Cell--numeric">$80.00</td>
</tr>
