<% if notice %>
    <aside id="notice"><%= notice %></aside>
<% end %>

<h2>Your Shopping Cart</h2>
<ul>
    <% @cart.tickets.each do |ticket| %> 
        <li><%= ticket.flight.destination %></li>
    <% end %> 
</ul>