<h3>Dear <%= @order.full_name %> ,</h3>

<p>Thank you for your recent order from Interstellar. You ordered:<p>

<%= render @order.tickets -%>

<p>We'll send you a separate e-mail when your itinerary has been processed.</p>