// Place all the styles related to the Tickets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@keyframes ticket-highlight {
    0% {
        background: #EBF5FA;
    }
    100% {
        background: none;
    }
}

.ticket-highlight {
    animation: ticket-highlight 1s;
}

p, thead, th, td {
    color: white;
}